<div class="container" id="profile_border">
  <div class="row">
    <div class="col align-self-start" style="outline-style: outset;">
      <img src="../../assets/images/GiantSchnauzerImage.jfif" alt="" />
      <h1>{{ personInfoDog.nameofdog}}</h1>
    </div>
    <div class="col align-self-center">
      Parks Visited
    </div>
  </div>
  <div class="row">
    <div class="col-sm align-self-center">
      <ul>
        <h2>Friend List: </h2>

        <ng-container id="friendlist" *ngFor="let val of friendListofDogs ; let i=index">
          <li *ngIf="i<11">
            Owner: {{val.firstname}} {{val.lastname}}
          </li>
        </ng-container>


      </ul>
    </div>
  </div>
</div>
