<p>createdog works!</p>


<div class="container">

  <div class="d-flex justify-content-center row">
    <form [formGroup]="profileForm" style="border:5px solid black" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>

          <b> Breed:</b>
          <input type="text" formControlName="breed">
        </label>
      </div>
      <div class="form-group">
        <label>
         <b>Name of Dog:</b>
          <input type="text" formControlName="nameofdog">
        </label>
      </div>
      <div class="form-group">
        <label>
          <b>Owner First Name:</b>
           <input type="text" formControlName="ownerfirstname">
         </label>
      </div>
      <div class="form-group">
        <label>
          <b>Owner Last Name:</b>
           <input type="text" formControlName="ownerlastname">
         </label>
      </div>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
  </div>

</div>
