


<h1>Dog Friend App</h1>

<div>
 <mat-toolbar>
     <mat-nav-list>
      <a mat-button href="#" routerLink="/" routerLinkActive="active">Home</a>
      <a mat-button href="" routerLink="/login-page" routerLinkActive="active">Login Page</a>
      <a mat-button href="" routerLink="/dogs-list" routerLinkActive="active">A List of Dogs</a>
      <a mat-button href="" routerLink="/createdog" routerLinkActive="active">Add Dog</a>
      <a mat-button href="" routerLink="/add-image" routerLinkActive="active">Add Image of Dog</a>
      <a mat-button href="" routerLink="/profile-page" routerLinkActive="active">Profile page</a>
   </mat-nav-list>
 </mat-toolbar>
</div>


<router-outlet></router-outlet>
