
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Breed</th>
          <th scope="col">Id</th>
          <th scope="col">Name of Dog</th>
          <th scope="col">Owner first name</th>
          <th scope="col">Owner last name</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listofDogs">
          <td>{{item.breed}}</td>
          <td>{{item.id}}</td>
          <td>{{item.nameofdog}}</td>
          <td>{{item.ownerfirstname}}</td>
          <td>{{item.ownerlastname}}</td>
          <td><button type="submit" (click)="deleteDog(item.id)" class="btn btn-primary" style="background-color: #4CAF50;">Delete</button></td>
          <td>
            <!-- <button type="submit" style="background-color: #008CBA;">Edit</button> -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>





